@import "bootstrap";
@import "font-awesome";

// VARIABLES
// Font Stacks
$heading-font: Helvetica, Arial, sans-serif;
$body-font: Georgia, serif;
$fa-font-path:        "../fonts/fontawesome" !default;
// Colour Palette (https://color.adobe.com/Draw-With-Me-color-theme-647636/)
$primary-color: #3CBAC8;
$secondary-green:#93EDD4;
$highlight-color:#F19181;
$link-color:blue;
$grey-color: #32373D;
$white-color: #ffffff;
$black-color: #000000;
$disabled-color:#dddddd;

// CUSTOM STYLES
body {
}
a {
}
